<form  [formGroup]="cadastroForm"  (ngSubmit)="submitForm( )"  >

  <label>
    Nome:
  <input type="text"  formControlName="firstName">
  <span  class="alert" *ngIf="cadastroForm.get ('firstName')?.errors && (cadastroForm.get ('firstName')?.touched || cadastroForm.get ('firstName')?.dirty )" >


    Favor add  nome
  </span>
  </label>
 <br>
 <br>

 <label >
  Sobrenome:
 <input type="text"  formControlName="lastName" >
<span class="span" *ngIf="cadastroForm.get ('lastName')?.errors && (cadastroForm.get ('lastName')?.touched || cadastroForm.get ('lastName')?.dirty )" >
 no minimo  5 caracteres {{ cadastroForm.get ('lastName')?.errors}}

</span>
</label>

<p>{{ cadastroForm.get ('lastName')?.errors | json }}</p>
<br>

 <button [disabled]="cadastroForm.invalid" >Enviar </button>


  <!--{{ cadastroForm.get ('firstName')?.errors | json }}
    {{ cadastroForm.get ('firstName')?.touched | json }}
    {{ cadastroForm.get ('firstName')?.dirty | json }}-->
</form>
